body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

a {
    text-decoration: none;
    color: #2E2F42;
}

.logoheader {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3%;
    color: #4d5ae5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logoheader>span {
    color: #2e2f42;
}

.logofooter {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3%;
    color: #4d5ae5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logofooter>span {
    color: #f4f4fd;
}

.nav {
    font-weight: 500;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.uppermain {
    background-color: #2E2F42;
    text-align: center;
}

.uppermain > h1 {
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}


h2 {
    font-weight: 700;
    text-align: center;
}

.ourteam {
    background-color: #F4F4FD;
    ;
}

.footer {
    background-color: #2E2F42;
    ;
}

.footertext {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.orderservice {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    letter-spacing: 0.04em
}

li {
    list-style-type: none;
}

.address {
    font-size: 16px;
    font-style: normal
}

.content {
    color: #FFFFFF;
}

.ourteam>h3 {
    text-align: center;
}

.ourteam>p {
    text-align: center;
}

.ourportfolio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.sectionfour  h3 {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42
}

.sectionfour  p {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.sectiontwo h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.sectiontwo p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}